<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form [formGroup]="form" (submit)="onSaveLab()" *ngIf="!isLoading">
    <mat-form-field>
      <input matInput type="text" formControlName="name" placeholder="Nazwa pracowni">
      <mat-error *ngIf="form.get('name').invalid">Wprowadź nazwę pracowni (5 - 100 znaków).</mat-error>
    </mat-form-field>
    <mat-form-field>
        <input matInput type="text" formControlName="email" placeholder="Email pracowni">
        <mat-error *ngIf="form.get('email').invalid">Wprowadź email pracowni.</mat-error>
    </mat-form-field>
    <mat-form-field>
        <input matInput type="text" formControlName="address" placeholder="Adres pracowni">
        <mat-error *ngIf="form.get('address').invalid">Wprowadź adres pracowni (min. 20 znaków).</mat-error>
    </mat-form-field>
    <button mat-raised-button color="accent" type="submit" [disabled]="form.invalid">Zapisz pracownię</button>
  </form>
</mat-card>