<mat-card>
  <mat-card-title>Zaloguj się ...</mat-card-title>
  <mat-card-content>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="example-container">
        <mat-form-field>
          <input
            matInput
            placeholder="Email użytkownika"
            type="text"
            formControlName="username"
          />
          <mat-error *ngIf="loginForm.get('username').invalid">Email jest wymagany.</mat-error
          >
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            placeholder="Hasło"
            type="password"
            formControlName="password"
          />
          <mat-error *ngIf="loginForm.get('password').invalid">Hasło jest wymagane.</mat-error>
        </mat-form-field>
      </div>
      <mat-card-actions>
        <button mat-raised-button color="primary" [disabled]="loading || loginForm.invalid">
          Zaloguj
        </button>
        <img
          *ngIf="loading"
          class="pl-2"
          src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
      </mat-card-actions>
    </form>
    <mat-card-subtitle>
      <a routerLink="/resetpassword">Nie pamiętasz hasła?</a>
    </mat-card-subtitle>
    <mat-card-subtitle *ngIf="queryParams">
      <p>Nie masz jeszcze konta? <a routerLink="/register" [queryParams]="queryParams" >Zarejestruj się tutaj.</a></p>
    </mat-card-subtitle>
  </mat-card-content>
</mat-card>