<div>
  <button
    mat-icon-button name="addLab"
    aria-label="Dodaj badanie" title="Dodaj" alt="Dodaj"
    routerLink="../create">
    <mat-icon>add</mat-icon>
  </button>
  <button
    mat-icon-button name="refresh"       
    aria-label="Odśwież" title="Odśwież" alt="Odśwież"
    (click)="loadLabsPage()">
    <mat-icon>refresh</mat-icon>
  </button>
</div>
<div [hidden]="count <= 0">
<table mat-table [dataSource]='dataSource' class='mat-elevation-z2' >
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Nazwa pracowni </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef> Email </th>
    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
  </ng-container>
  <ng-container matColumnDef="address">
    <th mat-header-cell *matHeaderCellDef> Adres </th>
    <td mat-cell *matCellDef="let element"> {{element.address}} </td>
  </ng-container>
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Akcje </th>   
    <td mat-cell *matCellDef="let element; let i=index;"> 
      <button mat-icon-button
              [routerLink]="['../edit', element._id]"
              color="primary" 
              title="Edytuj" 
              alt="Edytuj">
        <mat-icon aria-label="Edytuj">edit</mat-icon>
      </button> 
      <button mat-icon-button 
        *ngIf="element.usersCount < 1"
        color="warn" 
        title="Usuń" 
        alt="Usuń" 
        (click)="onDelete(element._id)">
        <mat-icon aria-label="Usuń">delete</mat-icon>
      </button>
    </td>
  </ng-container>  
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator
  [length]="count"
  [hidePageSize]="true"
  [pageSize]="labsPerPage"
></mat-paginator>
</div>
<p class="info-text mat-body-1" *ngIf="count <= 0">
  Jeszcze nie ma zdefiniowanych pracowni!
</p>