:host {
    display: block;
    margin-top: 1rem;
  }
  
  mat-paginator {
    margin-top: 1rem;
  }
  
  table {
    width: 100%;
  }

  mat-spinner {
      margin: auto;
  }

  ::ng-deep .linebreak {
    white-space: pre-line;
  }
  