<div mat-dialog-container>
  <form [formGroup]="form" autocomplete="on" (submit)="onChangePassword()" (keydown.enter)="$event.preventDefault()">
    <h1 mat-dialog-title>Zmiana hasła</h1>
    <div mat-dialog-content>
      <mat-form-field>
        <input matInput 
                type="password" 
                autocomplete="current-password" 
                formControlName="oldPassword" 
                placeholder="Hasło">
        <mat-error *ngIf="form.get('oldPassword').invalid">Hasło jest wymagane.</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput 
                type="password" 
                autocomplete="new-password"
                formControlName="password1" 
                placeholder="Nowe hasło użytkownika">
        <mat-error *ngIf="form.get('password1').hasError('required')">Hasło jest wymagane.</mat-error>
        <mat-error *ngIf="form.get('password1').hasError('minLength')">Hasło musi mieć minimum 8 znaków.</mat-error>
        <mat-error *ngIf="form.get('password1').hasError('hasNumber')">Hasło musi zawierać cyfrę.</mat-error>
        <mat-error *ngIf="form.get('password1').hasError('hasCapitalCase')">Hasło musi zawierać wielką literę.</mat-error>
        <mat-error *ngIf="form.get('password1').hasError('hasSmallCase')">Hasło musi zawierać małą literę.</mat-error>
        <mat-error *ngIf="form.get('password1').hasError('hasSpecialCharacters')">Hasło musi zawierać znak specjalny.</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput 
                type="password" 
                autocomplete="new-password"
                formControlName="password2" 
                placeholder="Potwierdzenie nowego hasła użytkownika">
        <mat-error *ngIf="form.get('password2').hasError('mustMatch')">Hasła nie są takie same.</mat-error>
      </mat-form-field>
    </div>
    <mat-dialog-actions>
      <button mat-raised-button color="accent" type="submit" [disabled]="form.invalid">Zapisz użytkownika</button>
      <span class="spacer"></span>
      <button mat-button mat-dialog-close cdkFocusInitial>Zamknij</button>
    </mat-dialog-actions>
  </form>
</div>
<ng-container *ngIf="close$ | async"></ng-container>