<mat-spinner *ngIf="loading"></mat-spinner>
<mat-card *ngIf="reset && !loading">  
  <mat-card-title>Zmiana hasła - podaj nowe hasło</mat-card-title>
  <mat-card-content >
    <form [formGroup]="form" name="form" autocomplete="on" (submit)="onResetPassword()" >
      <mat-form-field>
        <input matInput 
                type="password" 
                autocomplete="new-password"
                formControlName="password1" 
                placeholder="Nowe hasło użytkownika">
        <mat-error *ngIf="form.get('password1').hasError('required')">Hasło jest wymagane.</mat-error>
        <mat-error *ngIf="form.get('password1').hasError('minLength')">Hasło musi mieć minimum 8 znaków.</mat-error>
        <mat-error *ngIf="form.get('password1').hasError('hasNumber')">Hasło musi zawierać cyfrę.</mat-error>
        <mat-error *ngIf="form.get('password1').hasError('hasCapitalCase')">Hasło musi zawierać wielką literę.</mat-error>
        <mat-error *ngIf="form.get('password1').hasError('hasSmallCase')">Hasło musi zawierać małą literę.</mat-error>
        <mat-error *ngIf="form.get('password1').hasError('hasSpecialCharacters')">Hasło musi zawierać znak specjalny.</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput 
                type="password" 
                autocomplete="new-password"
                formControlName="password2" 
                placeholder="Potwierdzenie nowego hasła użytkownika">
        <mat-error *ngIf="form.get('password2').hasError('mustMatch')">Hasła nie są takie same.</mat-error>
      </mat-form-field>
      <mat-card-actions>
        <button mat-raised-button color="accent" type="submit" [disabled]="form.invalid">Zmień hasło</button>
        <span class="spacer"></span>
        <a mat-button routerLink="/login">Rezygnuj</a>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>

<mat-card *ngIf="!reset && !loading">
  <mat-card-title>Zmiana hasła - podaj adres email</mat-card-title>
  <mat-card-subtitle>Na ten adres wyślemy instrukcję zmiany hasła</mat-card-subtitle>
  <mat-card-content>
    <form [formGroup]="form" (submit)="onSubmitEmail()" >
        <mat-form-field>
          <input 
            matInput 
            name="email"
            type="email" 
            formControlName="email" 
            placeholder="Adres email do zmiany hasła"
            [value]="form.get('email').value | lowercase">
          <mat-error *ngIf="form.get('email').invalid">Wprowadź poprawny email.</mat-error>
        </mat-form-field>
      <mat-card-actions>
        <button mat-raised-button name="resetpassword" color="accent" type="submit" [disabled]="form.invalid">Wyślij</button>
        <span class="spacer"></span>
        <a mat-button mat-raised-button routerLink="/login">Rezygnuj</a>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>