<mat-toolbar color="primary">
  <div fxHide.gt-sm *ngIf="isSAdmin || isAdmin">
      <button mat-icon-button (click)="onToogleSideNav()">
          <mat-icon>menu</mat-icon>
      </button>
  </div>
  <span><a routerLink="/">Ząbek 2</a></span>
  <div fxFlex fxLayout fxLayoutAlign="end">
    <div fxHide.lt-md>
      <ul fxLayout fxLayoutGap="5px">
        <li *ngIf="isSAdmin">
          <a mat-button routerLink="/admin/lab/list" routerLinkActive="mat-accent">Pracownie</a>
        </li>
        <li *ngIf="isSAdmin">
          <a mat-button routerLink="/admin/lab/create" routerLinkActive="mat-accent">Nowa pracownia</a>
        </li>
        <li *ngIf="isAdmin">
          <a mat-button routerLink="/admin/user/list" routerLinkActive="mat-accent">Użytkownicy</a>
        </li>
        <li *ngIf="isAdmin">
          <a mat-button routerLink="/admin/user/create" routerLinkActive="mat-accent">Nowy użytkownik</a>
        </li>
        <li *ngIf="isUser">
          <a mat-button routerLink="/doctorlist" routerLinkActive="mat-accent">Lekarze</a>
        </li>
        <li *ngIf="isAdmin">
          <a mat-button routerLink="/admin/reports" routerLinkActive="mat-accent">Raporty</a>
        </li>
      </ul>
    </div>
    <ul>
      <li *ngIf="currentUser">
        <a mat-button (click)="logout()" >Logout ({{ currentUser.email }})</a>
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="System">
          <mat-icon>more_vert</mat-icon>
        </button>
      </li>
    </ul>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="openChangePasswordDialog()">
        <mat-icon>person</mat-icon>
        <span>Zmień hasło</span>
      </button>
    </mat-menu>  
  </div>
</mat-toolbar>
