<div [hidden]="dataCount <= 0" >
  <table mat-table [dataSource]='dataSource' class='mat-elevation-z2'>
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let element"> {{ element.email }}</td>
    </ng-container>
    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef>Imię</th>
      <td mat-cell *matCellDef="let element"> {{element.firstName}}</td>
    </ng-container>
    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef>Nazwisko</th>
      <td mat-cell *matCellDef="let element"> {{element.lastName}}</td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Akcje </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button    [disabled]="element.active" color="warn" title="Aktywuj" alt="Aktywuj"
          (click)="onActivate(element._id)">
          <mat-icon aria-label="Aktywuj" [ngStyle]="{color: element.active ? '#64A8A8' : 'gray'}">
            check_circle
          </mat-icon>
        </button>
        <button mat-icon-button [routerLink]="['../edit', element._id]" color="primary" title="Edytuj" alt="Edytuj">
          <mat-icon aria-label="Edytuj">edit</mat-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [length]="dataCount" [hidePageSize]="true" [pageSize]="doctorsPerPage"></mat-paginator>
</div>
<p class="info-text mat-body-1" *ngIf="dataCount <= 0">
  Jeszcze nie ma zdefiniowanych lekarzy!
</p>
<div style="right: 15px; bottom: 5px; position: fixed">
  <button mat-fab color="accent" md-fab-bottom-right aria-label="Dodaj badanie" title="Dodaj" alt="Dodaj"
    routerLink="../create">
    <mat-icon>add</mat-icon>
  </button>
</div>
<div style="right: 85px; bottom: 5px; position: fixed">
  <button mat-fab color="primary" md-fab-bottom-right aria-label="Odśwież" title="Odśwież" alt="Odśwież"
    (click)="loadDoctorsPage()">
    <mat-icon>refresh</mat-icon>
  </button>
</div>