<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form [formGroup]="form" (submit)="onSaveExam()" *ngIf="!isLoading">

    <mat-form-field>
      <input matInput type="text" formControlName="examinationDate" placeholder="Data badania">
      <mat-error *ngIf="form.get('examinationDate').invalid">Wprowadź poprawną datę wykonania badania (format
        yyyy-mm-dd).</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" formControlName="examinationType" placeholder="Rodzaj badania">
      <mat-error *ngIf="form.get('examinationType').invalid">Wprowadź rodzaj badania.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" formControlName="examinationFile" placeholder="Pliki badania">
      <mat-error *ngIf="form.get('examinationFile').invalid">Wprowadź pliki  badania.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" formControlName="patientFullName" placeholder="Imię i nazwiskopacjenta">
      <mat-error *ngIf="form.get('patientFullName').invalid">Wprowadź imię i nazwisko pacjenta (max 50 znaków).</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" formControlName="patientPesel" placeholder="PESEL">
      <mat-error *ngIf="form.get('patientPesel').hasError('required')">PESEL jest wymagany.</mat-error>
      <mat-error *ngIf="form.get('patientPesel').hasError('minlength') || form.get('patientPesel').hasError('maxlength')">PESEL musi mieć 11 znaków.</mat-error>
      <mat-error *ngIf="form.get('patientPesel').hasError('validPesel')">PESEL jest niepoprawny.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" formControlName="patientAge" placeholder="Wiek pacjenta">
      <mat-error *ngIf="form.get('patientAge').invalid">Wprowadź wiek pacjenta.</mat-error>
    </mat-form-field>
    <button mat-raised-button color="accent" type="submit" [disabled]="form.invalid">Zapisz badanie</button>
  </form>
</mat-card>