<mat-card>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-card-content>
      <mat-form-field>
        <input matInput type="text" formControlName="email" [value]="form.get('email').value | lowercase"
          placeholder="Email">
          <mat-error *ngIf="form.get('email').hasError('uniqueEmail')">Użytkownik o tym email jest już zarejestrowany w systemie.</mat-error>
          <mat-error *ngIf="form.get('email').hasError('email')">Email jest nieprawidłowy.</mat-error>
          <mat-error *ngIf="form.get('email').hasError('required')">Email jest wymagany.</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="text" formControlName="firstName" placeholder="Imię">
        <mat-error *ngIf="form.get('firstName').invalid">Imię jest wymagane.</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="text" formControlName="lastName" placeholder="Nazwisko">
        <mat-error *ngIf="form.get('lastName').invalid">Nazwisko jest wymagane.</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="text" formControlName="qualificationsNo" placeholder="Numer pozwolenia na wykonywanie zawodu (PWZ)">
        <mat-error *ngIf="form.get('qualificationsNo').hasError('required')">PWZ jest wymagany.</mat-error>
        <mat-error *ngIf="form.get('qualificationsNo').hasError('minlength') || form.get('qualificationsNo').hasError('maxlength')">PWZ musi mieć 7 cyfr.</mat-error>
        <mat-error *ngIf="form.get('qualificationsNo').hasError('onlyNumbers')">PWZ może składać się tylko z cyfr.</mat-error>
        <mat-error *ngIf="form.get('qualificationsNo').hasError('validPwz')">PWZ jest niepoprawny.</mat-error>
        <mat-error *ngIf="form.get('qualificationsNo').hasError('uniquePwz')">PWZ jest juz zarejestrowany.</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="text" formControlName="pesel" placeholder="PESEL">
        <mat-error *ngIf="form.get('pesel').hasError('required')">PESEL jest wymagany.</mat-error>
        <mat-error *ngIf="form.get('pesel').hasError('onlyNumbers')">PESEL może zawierać tylko cyfry.</mat-error>
        <mat-error *ngIf="form.get('pesel').hasError('validPesel')">PESEL jest nieprawidłowy.</mat-error>
        <mat-error *ngIf="form.get('pesel').hasError('uniquePesel')">Ten PESEL jest już zarejestrowany.</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="text" formControlName="nip" placeholder="NIP">
        <mat-error *ngIf="form.get('nip').hasError('onlyNumbers')">NIP może zawierać tylko cyfry.</mat-error>
        <mat-error *ngIf="form.get('nip').hasError('validNip')">NIP jest nieprawidłowy.</mat-error>
        <mat-error *ngIf="form.get('nip').hasError('uniqueNip')">Ten NIP jest już zarejestrowany.</mat-error>
      </mat-form-field>     
      <mat-form-field>
        <input matInput type="text" formControlName="officeName" placeholder="Nazwa gabinetu">
        <mat-error *ngIf="form.get('officeName').invalid">Nazwa gabinetu jest wymagana.</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="text" formControlName="officeAddress" placeholder="Adres gabinetu">
        <mat-error *ngIf="form.get('officeAddress').invalid">Adres gabinetu jest wymagany.</mat-error>
      </mat-form-field>
      <mat-checkbox formControlName="sameAddresses">Taki sam adres do korespondencji</mat-checkbox>
      <mat-form-field *ngIf="!(sameAddresses$ | async)">
        <input matInput type="text" formControlName="officeCorrespondenceAddress" placeholder="Adres korespondencyjny">
        <mat-error *ngIf="form.get('officeCorrespondenceAddress').invalid">Adres korespondencyjny jest wymagany.</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Domyślny format badania</mat-label>
        <mat-select formControlName="examFormat">
          <mat-option [value]="'tiff'">tiff</mat-option>
          <mat-option [value]="'jpeg'">jpeg</mat-option>
          <mat-option [value]="'dicom'">dicom</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-checkbox formControlName="tomographyWithViewer">Proszę o załączanie do badań przeglądarki</mat-checkbox>
    </mat-card-content>

    <mat-card-title>
      <button mat-raised-button color="accent" type="submit" [disabled]="form.invalid">Zapisz</button>
      <button mat-raised-button style="float: right;" type="button" mat-button routerLink="/user/doctor/list">Anuluj</button>
    </mat-card-title>
  </form>
</mat-card>