<p>Virtual scroll works</p>

<ng-container *ngIf="infinitedata$ | async as elements" >
  <cdk-virtual-scroll-viewport itemSize="15" (scrolledIndexChange)="handler($event)" >
    <li *cdkVirtualFor="let element of elements" style="height: 15px;">
      <p style="height: 15px;">{{ element.lastName }} {{ element.firstName }} {{ element.qualificationsNo ? element.qualificationsNo : '' }} </p>
    </li>

    <li *ngIf="theEnd" style="height: 15px; font-size: small;">The End</li>

  </cdk-virtual-scroll-viewport>
</ng-container>
